<launch>
    <rosparam command="load" file="$(find scripts)/config/evaluation_specification.yaml"/>
    <node name="CoordinateManagerNode" pkg="scripts" type="CoordinateManager.py" output="screen"/>
    <node name="KalmanPosNode" pkg="scripts" type="KalmanPos.py" output="screen"/>
    <node name="OdometryControllerNode" pkg="scripts" type="OdometryController.py" output="screen"/>
</launch>




<!-- <launch>
    <arg name="CoordinateFile"/>
    <node name="PublishYAMLCoordinate" pkg="scripts" type = "ManageCoordinates.py" args="$(find scripts)/config/$(arg CoordinateFile)"/>
</launch>
-->