<launch>
    <rosparam command="load" file="$(find scripts)/config/evaluation_specification.yaml"/>

    <node
        name="ekf_node_map" 
        pkg="robot_localization" 
        type="ekf_localization_node" clear_params="true" output="screen">

        <param name="world_frame" value="mocap"/>
        <param name="map_frame" value="mocap"/>
        <param name="odom_frame" value="odom"/>
        <param name="base_link_frame" value="base_footprint"/>

        <param name="odom0" value="/qualisys/mobile_base/odom"/>
        <param name="odom0_differential" value="false"/>
        <rosparam param="odom0_config">[false, false, false,
                                        false, false, false,
                                        true, true, false,
                                        false, false, true,
                                        false, false, false]
        </rosparam>

        <param name="odom1" value="/odom"/>
        <rosparam param="odom1_config">[false, false, false,
                                        false, false, false,
                                        true, true, false,
                                        false, false, true,
                                        false, false, false]
        </rosparam>
    </node>

    <node name="ekf_node_odom" 
          pkg="robot_localization" 
          type="ekf_localization_node" clear_params="true" output="screen">
        <param name="world_frame" value="odom"/>
        <param name="map_frame" value="mocap"/>
        <param name="odom_frame" value="odom"/>
        <param name="base_link_frame" value="base_footprint"/>
        
        <param name="odom0" value="/odom"/>
        <rosparam param="odom0_config">[false, false, false,
                                        false, false, false,
                                        true, true, false,
                                        false, false, true,
                                        false, false, false]
        </rosparam>

        <param name="odom1" value="/qualisys/mobile_base/odom"/>
        <rosparam param="odom1_config">[false, false, false,
                                        false, false, false,
                                        true, true, false,
                                        false, false, true,
                                        false, false, false]
        </rosparam>
    </node>
        <!--param name="odom1_differential" value="false"/-->
        <!--rosparam command="load" file="$(find scripts)/config/ekf_turtlebot_qualisys.yaml" /-->


    <node
        name="CoordinateServerNode"
        pkg="scripts"
        type="coordinate_server.py" output="screen">
    </node>
    <node 
        name="KalmanPosNode" 
        pkg="scripts" 
        type="KalmanPos.py" output="screen">
    </node>
    <node 
        name="OdometryControllerNode" 
        pkg="scripts" 
        type="OdometryController.py" output="screen" required="true">
    </node>/>



    <arg name="real" default="0"/>
    <!--for real testing-->
    <!--roslaunch scripts launch_coordinates.launch real:=1-->
    <group if="$(arg real)">
      <node 
        pkg="tf" 
        type="static_transform_publisher" 
        name="link_odom_mocap_broadcaster" 
        args="0 0 0 0 0 0 odom mocap 100">
      </node>
      <node 
        pkg="tf" 
        type="static_transform_publisher" 
        name="link2_broadcaster" 
        args="0.0 0.0 0.4 0.0 0.0 0.0 RB_TB base_footprint 100">
      </node>
    </group>
    
    <!--for simulation-->
    <!--starts automatically unless argument real:=1 is given-->
    <!--group unless="$(arg real)">
      <node 
        pkg="tf" 
        type="static_transform_publisher" 
        name="link1_broadcaster" 
        args="0 0 0 0 0 0 odom mocap 10">
      </node>
      <node 
        pkg="tf" 
        type="static_transform_publisher" 
        name="link_base_footprint_broadcaster" 
        args="0.0 0.0 0.0 0.0 0.0 0.0 mobile_base base_footprint 100">
      </node>
    </group-->


    <arg name="sim" default="0"/>
    <group if="$(arg sim)">
        <node  
            name="qualisys" 
            pkg="mocap_simulator" 
            type="mocap_simulator_node.py" output="screen">
            <param name="frame_rate" value="100"/>
            <param name="publish_tf" value="true"/>
            <param name="fixed_frame_id" value="odom"/>
            <rosparam param="model_list">[mobile_base]</rosparam>
        </node>
    </group>
    <!--to start qualisys simulator, type "roslaunch scripts launch_coordinates.launch sim:=1" -->
    

    <arg name="record" default="0"/>
    <group if="$(arg record)">
        <node
            name="bag_record" 
            pkg="rosbag" 
            type="record"
            args="-o $(find scripts)/bagfiles/ /qualisys/mobile_base/odom /odom /odometry/filtered /cmd_vel_mux/input/navi">
        </node>
    </group>
    <!--to record, type "roslaunch scripts launch_coordinates.launch record:=1"-->
</launch>
