<launch>
    <rosparam command="load" file="$(find scripts)/config/evaluation_specification.yaml"/>
    <node name="CoordinateManagerNode" pkg="scripts" type="CoordinateManager.py" output="screen"/>
    <node name="KalmanPosNode" pkg="scripts" type="KalmanPos.py" output="screen"/>
    <node name="OdometryControllerNode" pkg="scripts" type="OdometryController.py" output="screen"/>


    <!--<node name="ekf_se" pkg="robot_localization" type="ekf_localization_node" clear_params="true" output="screen">
        <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml" />
        <remap from="/odom" to="/position"/>
        <remap from="/mocap_qualisys/{subject_name}/odom" to="/position"/>

        <param name="odom0" value="/odom"/>
        <rosparam param="odom0_config">[false, false, false,
                                        false, false, false,
                                        true, true, false,
                                        false, false, true,
                                        false, false, false]</rosparam>

        <param name="odom1" value="/mocap_qualisys/{subject_name}/odom"/>
        <rosparam param="odom1_config">[false, false, false,
                                        false, false, false,
                                        true, true, false,
                                        false, false, true,
                                        false, false, false]</rosparam>
    </node>/-->

</launch>







<!-- <launch>
    <arg name="CoordinateFile"/>
    <node name="PublishYAMLCoordinate" pkg="scripts" type = "ManageCoordinates.py" args="$(find scripts)/config/$(arg CoordinateFile)"/>
</launch>
-->